body {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FCB454;
  font-family: sans-serif;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFF9F0;
  padding: 2rem;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  height: 3rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 0.8rem;
}

.logo {
  width: 130px;
  height: auto;
  margin-right: 2rem;
}

.headerContent {
  flex: 1;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 4rem;
  gap: 2rem;
}
.navLinks {
  display: flex;
  width: 90%;
  justify-content:flex-end;
  font-size: 1rem;
  gap: 1rem;
  transition: transform 0.1s ease;

}
.navLinks :hover{
  cursor: pointer;
  transform: scale(1.1);
  color: rgb(218, 124, 37);
}

.navBar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  
}

.icons {
  display: flex;
  margin-left: auto;
  gap: 1rem;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  width: 25px;
  gap: 1rem;
}

.introText {
  max-width: 600px;
  color: #000;
  line-height: 1.5;
  margin-right: 1rem;
  margin-top: 4rem;
  font-size: 1.5rem;
  text-align: justify;
}

.buy {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  background-color: #FFF9F0;
  margin-top: 0.1rem;
  }
  
  .miniaturas {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .miniatura {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 11rem;
  }
  
  .miniatura img {
    width: 60px;
    border: 1px solid #ccc;
    cursor: pointer;
    border: 1px #EA7E16 solid;
    transition: transform 0.3s ease; 
  
  }

.miniatura img:hover {
    transform: scale(1.2); 
  }
  .pato_grande {
    display: flex;
    align-items: center;
    cursor: pointer;

  }
  
  .pato_grande img {
    width: 300px;
    transition: transform 0.3s ease; 
    border: 1px #EA7E16 solid;
  }
  .pato_grande img:hover{
    transform: scale(1.2); 
  }
  
  .info {
    flex: 1;
    margin-left: 1rem;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
  }
  
  .price {
    font-size: 1.5rem;
    color: #444;
    margin: 1rem 0;
    font-weight: bold;
  }
  .info p{
    margin-top: 0.5rem;
    max-width: 600px;  
    text-align: justify;
  }
  
  .buttons{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
  }
  button{
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 20px;
  }
  .cart{
    border: 1px solid  black;
    background:  #FFF085;
    transition: transform 0.2s ease;

  }
  .cart:hover{
    transform: scale(1.1);
    background-color: #efdd4f;
  }
  .stock{
    color: #10baea;
  font-weight: bold;
  font-size: 1.3rem;
  }
  .button-stock{
    border: 1px solid black;
  }

  
  .buynow {
    background:#FCB454;
    color:black;
    transition: transform 0.1s ease;
    border: 1px solid black;

  }
  .buynow:hover{
    transform: scale(1.);
    background-color:#ee9219;;
  }

  
  .description {
    margin-top: 1rem;
    max-width: 600px;      
    text-align: justify;

  }
  footer{
    background-color: #FFF085;
    padding: 2rem;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    margin-top: 0.1rem;
    height: 4.7rem;
  }
  .media{
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
  }
  .media img{
    width: 25px;
    height: 25px;
    
  }

  .text{
    text-align: center;
    color: #000000;
  }
 
  
  @media screen and (max-width: 576px){
    .headerContainer {
      display:flex;
      flex-direction: column;  
    }
    .buy {
      display: flex;
        flex-direction: column;
        align-items: center;
      }
      .miniaturas{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
      .pato_grande {
        display: flex;
        justify-content: center;
      }
      .navBar{
        display: none;
      }
    
      .pato_grande img {
        margin-top: 1rem;

        width: 80%; 
        max-width: 300px;
      }

    .info{
        text-align: center;
        margin-left: 0;
        margin-top: 1rem;
        
    }
    .price{
        font-size: 2rem;
        display: flex;
        justify-content: center;

    }
    .buttons{
      display: flex;

        flex-direction: column;
        align-items: center;
    }
    h1{
      font-size: 1.8rem;
    }
    .stock p{
      display: flex;
        justify-content: center;
    }
    .description h3{
      display: flex;
        justify-content: center;
    }
    

      }

