body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FCB454;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFF9F0;
  padding: 2rem;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  height: 3rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 0.8rem;
}

.logo {
  width: 130px;
  height: auto;
  margin-right: 2rem;
}

.headerContent {
  flex: 1;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 4rem;
  gap: 2rem;
}
.navLinks {
  display: flex;
  width: 90%;
  justify-content:flex-end;
  font-size: 1rem;
  gap: 1rem;
  transition: transform 0.1s ease;

}
.navLinks :hover{
  cursor: pointer;
  transform: scale(1.1);
  color: rgb(218, 124, 37);
}

.navBar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  
}
.carrito-icono {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.icon {
  width: 30px;
  cursor: pointer;
}

.contador-carrito {
  position: absolute;
  top: -16px;
  right: 1px;
  background-color: rgb(218, 124, 37);
  color: white;
  font-size: 9px;
  font-weight: bold;
  padding: 3px 5px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px black;
  transition: transform 0.2s ease;
}
.introText {
  max-width: 600px;
  color: #000;
  line-height: 1.5;
  margin-right: 1rem;
  margin-top: 4rem;
  font-size: 1.5rem;
  text-align: justify;
}
.main{
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background: #FFF9F0;
  margin-top: 0.1rem;
}

.form {
    max-width: 400px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    background:#D1E9F6;
  }
  h1{
    text-align: center;
    color: #000000;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .form input,
  .form textarea {
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }
  input:focus,
textarea:focus {
  outline: none; 
  border: 1px solid black; 
}
  
  .form button {
    padding: 0.8rem;
    background-color: #FCB454;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 50%;
    margin-left: 25%;
  }
  
  .form button:hover {
    background-color:#f89a1f;
  }
  footer{
    background-color: #FFF085;
    padding: 2rem;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    margin-top: 0.1rem;
    height: 4.7rem;
    text-align: center;
  }
  .media{
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .media img{
    width: 25px;
    height: 25px;
    
  }

  .text{
    text-align: center;
    color: #000000;
  }

  @media screen and (max-width: 576px){
    .headerContainer {
      flex-direction: column;  
      position: relative;
    }
    h1{
      font-size: 1.3rem;
    }
    .navLinks {
      font-size: 0.7rem;
    }
    .navBar{
      position:absolute;
      margin-top: -8rem;
      right: -13px; 
      gap: 7px;
          
    }
    .icon {
      width: 20px;
      cursor: pointer;
    }
    .form{
      max-width: 200px;

    }


  }
  